footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

footer > div.control {
    display: flex;
    flex-direction: row;
}

footer div.status-light {
    width: 2em;
}

footer .light-ok { background-color: #329071; }
footer .light-warn { background-color: orangered; }
footer .light-error { background-color: maroon; }

footer div.viewmode-ctl {
    padding-left: 1em;
    font-weight: bold;
}

footer div.viewmode-ctl span {
    color: #b5b5b5;
    cursor: pointer;
    user-select: none;
}

footer div.viewmode-ctl span[active=true] {
    color: #ededed;
}


footer > div.Context {
    color: white;
}

footer > div.Context > span {
    padding-right: 20px;
}
