.TabList {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #252526;
}

.TabList li {
    background-color: #2d2d2d;
    color: #626253;
    width: 15em;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-right: 1px;
    user-select: none;
}

.TabList li div.name {
    padding-left: 10px;
}

.TabList li div.close {
    padding: 0 10px;
}

.TabList li[active=true] {
    background-color: #1e1e1e;
    color: #8f8f8f;
}