:root {
  --color_a: #382811;
  --color_b: #D1B080;
  --color_c: #B88437;
  --color_d: #3D3933;
  --color_e: #855F28;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: auto;
  overflow-y: auto;
}

Footer {
  height: 1.7vh;
  background-color: var(--color_e);
}

.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}

.auto {
  flex: auto;
}
