.cell-wrapper {
    display: flex;
    flex-direction: column;
}

.cell {
    background-color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: auto;
}

.cell-legend {
    background-color: #bbb;
    color: #111;
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1em;
    padding: 1px 4px 3px 4px;
}