div.ferment-base {
    display: flex;
    flex-direction: row;
}
span.ferment-lbl {
    padding: 3px 10px;
}
div.ferment-base > * {
    margin-left: 1px;
}
div.ferment-title {
    background-color: #bbb;
    color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}
