div.ingredients > section {}
div.ingredients > section > header {
    background-color: var(--color_e);
    font-size: 1em;
    height: auto;
    color: #222;
    padding-left: 1em;
    font-weight: bold;
}
div.ingredients > section > div {
    margin-left: 2em;
}

div.ingredients > section > div > * {
    margin-bottom: 1px;
}
div.ingredients > section > div > :last-child {
    margin-bottom: 0px;
}