.qty {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex: 1;
}

.qty > * {
    padding: 3px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qty-val {
    background-color: gray;
    font-family: monospace;
    font-size: 1.3em;
    flex: auto;
}

.qty-unt {
    background-color: palevioletred;
}

.qty-legend {
    background-color: #bbb;
    color: #111;
    font-size: 12px;
    text-align: center;
}