div.style-base {
    display: flex;
    flex-direction: row;
}

div.style-base > * {
    padding: 3px 10px;
}

div.style-deta {
    background-color: gray;
    flex: auto;
}

div.style-type {
    background-color: palevioletred;
}